@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="background-color: crimson">
    <h1>5-3-1 Workout Scheduler and Guide</h1>
    <p class="lead">
        5-3-1 is a workout that is designed for people who may only have that 30 minute lunch break to workout during. The 5-3-1 workout is designed around
        four main lifts, bench press, squat, shoulder press, and dead lift. These four lifts are the core of the workout and if you want suplemental lifts
        you can choose from anything you would like.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4" style=" background-color: ButtonShadow">
        <h2>Getting started</h2>
        <p>
            Getting started with 5-3-1 is easy. Get a gym membership, go to your local weightroom, or buy some weights!
            Then get your butt up and go! That is the hardest part about the 5-3-1 workout design, getting up and going. But you can
            do it!!
        </p>
    </div>
    <div class="col-md-4" style=" background-color: darkslategray; color: white;">
        <h2>Scheduling</h2>
        <p>
            The 5-3-1 guide app is designed to be used as exactly that, a guide. People can come to this website, enter some
            information, and the app will tell you when you need to workout and which workouts you need to do that day.
        </p>
    </div>
    <div class="col-md-4" style="background-color: antiquewhite; color: black;">
        <h2>Weight amount</h2>
        <p>
            How much time do you waste trying to figure out how much to lift when you are at the gym??
            I know I was a lot of time doing this. Well we can help with that!
            Just give us your max amounts and we will tell you how much weight you need to lift each workout!
        </p>
    </div>
</div>